# Markdown-Writer for Atom
# https://atom.io/packages/markdown-writer
#
# To find latest and default configurations, refer to:
# https://github.com/zhuochun/md-writer/blob/master/lib/config.cson
#
# NOTE 1: After edit, please run command `Window: Reload` or
#         Use menu: View -> Developer -> Reload Window.
#
# NOTE 2: Strings need to be quoted.

# static engine of your blog
siteEngine: "jekyll"
# root directory of your blog
# leave empty to use atom's current project (recommended)
siteLocalDir: ""
# directory to drafts from the root of siteLocalDir
siteDraftsDir: "_drafts/"
# directory to posts from the root of siteLocalDir
sitePostsDir: "_posts/{year}/"
# directory to images from the root of siteLocalDir
siteImagesDir: "images/{year}/{month}/"
# URL to your blog
siteUrl: "https://www.bicrement.com/"
# URLs to tags/posts/categories JSON file
urlForTags: "https://www.bicrement.com/blog/tags.json"
urlForPosts: "https://www.bicrement.com/blog/posts.json"
urlForCategories: "https://www.bicrement.com/blog/categories.json"
# front matter template
frontMatter: """
---
layout: <layout>
menu: true
note: false
title: '<title>'
date: <date>
tags:
categories:
---
"""
# whether rename filename based on title in front matter when publishing
publishRenameBasedOnTitle: false
# image tag template
imageTag: "![<alt>](<src>)"
