---
layout: default
title: Home
script:
  - /js/home.js
---

<div>
  <h3 class="content-subhead">About</h3>

  <section class="about">
    <header class="about-header">
      <h1 class="about-title">
        <span class="greeting">Hello</span>,
        I am {{ site.author_abbr }}
        <span class="hidden-sm">👋</span>
      </h1>
      <p class="about-meta">
        I am writing a
        <a href="{{ site.social.substack }}" title="bicrement">newsletter</a>
        about my reflections as an engineering manager, a software engineer and a learner.
      </p>
      <p class="about-meta">
        I am at
        <a href="{{ site.social.github }}" title="github/zhuochun">GitHub</a>,
        <a href="{{ site.social.stackoverflow }}" title="stackoverflow/mifeng">Stack Overflow</a> and
        <a href="{{ site.social.linkedin }}" title="linkedin/zhuochun">LinkedIn</a> as well.
      </p>
    </header>

    <div class="about-content">
      <p>
        {{ site.author_description }}
      </p>
    </div>
  </section>
</div>

<div class="posts newsletter-posts">
  <h3 class="content-subhead">
    Newsletter <a href="{{ site.social.substack }}" title="Bicrement Newsletter">FULL &raquo;</a>
  </h3>

  <div id="newsletter-posts">
    <p class="post-meta newsletter-loading">Loading latest newsletter posts...</p>
  </div>
</div>

<div class="posts">
  <h3 class="content-subhead">
    Recent Posts <a href="{{ site.page.blog }}" title="Bicrement Blog">MORE &raquo;</a>
  </h3>

{% assign onemore = false %}
{% for post in site.posts limit:7 %}
  {% if post.project %}
    {% assign onemore = true %}
  {% else %}
    {% unless forloop.last %}
      {% include post.html %}
    {% endunless %}

    {% if forloop.last and onemore %}
      {% include post.html %}
    {% endif %}
  {% endif %}
{% endfor %}
</div>
