<div class="footer">
  <div class="contact">
    <p>
      Zhuochun<br />
      What You Are<br />
      <span title="bicrement" class="yellow-color">{{ site.description }}</span>
    </p>
  </div>
  <div class="contact">
    <p>
      <a href="https://github.com/zhuochun" target="_blank">https://github.com/zhuochun</a>
      <br />
      <a href="http://www.linkedin.com/in/zhuochun" target="_blank">LinkedIn</a> | 
      <a href="http://stackoverflow.com/users/889972/mifeng" target="_blank">Stack Overflow</a>
      <br />
    </p>
  </div>
</div>
