<section class="post">
  <header class="post-header">
    <h2 class="post-title">
      <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      {% if post.note && site.page.note %}
      <sup class="note-sup">
        <a href="{{ site.page.note }}">Note</a>
      </sup>
      {% endif %}
    </h2>

    <p class="post-meta">
      On <span class="post-date">{{ post.date | date_to_string }}</span>
      about {{ post.tags | array_to_sentence_string }}
    </p>
  </header>
</section>
