<section class="project {% if project.sideproject %}side-project{% endif %}
  project-good-{{project.good}} {% if project.highlight %}project-highlight{% endif %}">
  <header class="project-header">
    {% if project.icon %}
    <img class="project-icon" alt="{{ project.title }} icon" src="{{ project.icon }}"
      height="48" width="48">
    {% endif %}
    <h2 class="project-title">
      <a href="{{ project.url }}" title="{{ project.title }}">{{ project.title }}</a>
    </h2>
    <p class="project-meta">{{ project.description }}</p>
  </header>
</section>
