{% if page.menu or page.search or page.script %}
<script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js"></script>
{% endif %}

{% if page.menu %}
<script src="/js/headings.js" async></script>
{% elsif page.search %}
<script src="/js/search.js" async></script>
{% endif %}

{% if page.script %}{% for script in page.script %}
<script src="{{ script }}" async></script>
{% endfor %}{% endif %}

{% if site.ga4_measurement_id %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga4_measurement_id }}"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', '{{ site.ga4_measurement_id }}');
</script>
{% endif %}
