---
layout: default
title: Projects
---

<div class="projects">
  <h3 class="content-subhead">My Projects</h3>

  {% for project in site.categories.project %}
    {% unless project.hidden %}
      {% include project.html %}
    {% endunless %}
  {% endfor %}

  <section class="project">
    <header class="project-header">
      <h2 class="project-title">
        <a href="{{ site.social.github }}" title="GitHub">GitHub »</a>
      </h2>
      <p class="project-meta">Visit my GitHub for more projects.</p>
    </header>
  </section>

  <section class="project">
    <header class="project-header">
      <img class="project-icon" alt="Mifengtd.cn" src="/images/projects/mifengtd-logo.png" height="54" width="54">
      <h2 class="project-title">
        <a href="http://www.mifengtd.cn" title="褪墨・时间管理">Mifengtd.cn »</a>
      </h2>
      <p class="project-meta">I also operate this popular Chinese website.</p>
    </header>
  </section>
</div>
