---
layout: default
title: Blog
---

<div class="posts">
  <h3 class="content-subhead">Blog Posts</h3>

{% capture year %}{% endcapture %}
{% capture month %}{% endcapture %}

{% for post in site.posts %}
  {% unless post.project %}
    {% capture post_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture post_month %}{{ post.date | date: "%B" }}{% endcapture %}

    {% if year != post_year %}
      {% assign year = post_year %}
    {% endif %}

    {% if month != post_month %}
      {% assign month = post_month %}
      <div class="post-seperator">
        <span class="post-year-header">{{ year }}</span>
        <span class="post-month-header">{{ month }}</span>
      </div>
    {% endif %}

    {% include post.html %}
  {% endunless %}
{% endfor %}
</div>
