---
layout: default
---

<div class="posts">
  <h3 class="content-subhead">
    {{ page.date | date_to_string }},
    On {{ page.tags | array_to_sentence_string }}
  </h3>

  <section class="post">
    <header class="post-header">
      <h1 class="post-title pure-u-1">{{ page.title }}</h1>
    </header>

    <article class="post-content">
      {{ content }}
    </article>
  </section>

  <div class="page-nav">
    <div class="pure-g-r">
      <div class="pure-u-1-2 prev-post">
        {% if page.previous.url %}
        <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
      </div>

      <div class="pure-u-1-2 next-post">
        {% if page.next.url %}
        <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo; </a>
        {% endif %}
      </div>
    </div>
  </div> 
</div>
