---
layout: default
---

<div class="posts">
  <h3 class="content-subhead">
    Project: {{ page.title }}
  </h3>

  <section class="post">
    <header class="project-header">
      {% if page.icon %}
      <img class="project-icon" alt="{{ page.title }} icon" src="{{ page.icon }}" height="48" width="48">
      {% endif %}

      <h2 class="project-title">{{ page.title }}</h2>

      <p class="project-meta">
        Info:
      {% if page.site %}
        <a href="{{ page.site }}" title="Website for {{ page.title }}" target="_blank">Website</a>
        {% if page.source or page.product %}, {% endif %}
      {% endif %}
      {% if page.product %}
        <a href="{{ page.product }}" title="Download {{ page.title }}" target="_blank">Download</a>
        {% if page.source %}, {% endif %}
      {% endif %}
      {% if page.source %}
        <a href="{{ page.source }}" title="Source code for {{ page.title }}" target="_blank">Source Code</a>
      {% endif %}
      </p>
    </header>

    <article class="post-content">
      {{ content }}
    </article>
  </section>
</div>

{% if site.tags[page.project] %}
  <div class="posts">
    <h3 class="content-subhead">Related Posts</h3>

  {% for post in site.tags[page.project] %}
    <section class="post">
      <header class="post-header">
        <h2 class="post-title">
          <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </h2>

        <p class="post-meta">
          On <span class="post-date">{{ post.date | date_to_string }}</span>
          about {{ post.tags | array_to_sentence_string }}
        </p>
      </header>
    </section>
  {% endfor %}
  </div>
{% endif %}

<div class="page-nav">
  <div class="pure-g-r">
    {% assign previous = nil %}
    {% assign getnext = false %}

    {% for project in site.categories.project %}
      {% if getnext %}
          <a href="{{project.url}}" title="Next Post: {{project.title}}">{{project.title}} &raquo; </a>
        {% assign getnext = false %}
      {% endif %}

      {% if project.title == page.title %}
        <div class="pure-u-1-2 prev-post">
        {% if previous %}
          <a href="{{previous.url}}" title="Previous Post: {{previous.title}}">&laquo; {{previous.title}}</a>
        {% endif %}
        </div>
        {% assign getnext = true %}
        <div class="pure-u-1-2 next-post">
      {% endif %}

      {% assign previous = project %}
    {% endfor %}
        </div>
  </div>
</div>
