---
layout: default
---

<div class="posts">
  <section class="post project">
    <header class="project-header">
      {% if page.icon %}
      <img class="project-icon" alt="{{ page.title }} icon"
           src="{{ page.icon }}" height="48" width="48">
      {% endif %}

      <h2 class="project-title">{{ page.title }}</h2>

      <p class="project-meta">
        {{ page.date | date: "%b, %Y" }} ・
        {% if page.site %}
          <a href="{{ page.site }}" title="Visit {{ page.title }}" target="_blank">
            Website
          </a>
          {% if page.source or page.product %}, {% endif %}
        {% endif %}
        {% if page.product %}
          <a href="{{ page.product }}" title="Download {{ page.title }}" target="_blank">
            Download
          </a>
          {% if page.source %}, {% endif %}
        {% endif %}
        {% if page.source %}
          <a href="{{ page.source }}" title="View Source Code" target="_blank">
            Source Code
          </a>
        {% endif %}
      </p>
    </header>

    <article class="post-content">
      {{ content }}
    </article>
  </section>
</div>

{% if site.tags[page.project] %}
  <div class="posts">
    <h3 class="content-subhead">Related Posts</h3>

  {% for post in site.tags[page.project] %}
    <section class="post">
      <header class="post-header">
        <h2 class="post-title">
          <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </h2>

        <p class="post-meta">
          On <span class="post-date">{{ post.date | date_to_string }}</span>
          about {{ post.tags | array_to_sentence_string }}
        </p>
      </header>
    </section>
  {% endfor %}
  </div>
{% endif %}

<div class="page-nav">
  <div class="pure-g">
    {% assign previous = nil %}
    {% assign hasNext = false %}

    {% for project in site.categories.project %}
      {% if hasNext %}
        {% unless project.hidden %}
          <a href="{{project.url}}" title="Next Project: {{project.title}}">
            {{project.title}} &raquo;
          </a>
          {% assign hasNext = false %}
        {% endunless %}
      {% endif %}

      {% if project.title == page.title %}
        <div class="pure-u-1-2 prev-post">
          {% if previous %}
            <a href="{{previous.url}}" title="Previous Project: {{previous.title}}">
              &laquo; {{previous.title}}
            </a>
          {% endif %}
        </div>
        {% assign hasNext = true %}
        <div class="pure-u-1-2 next-post">
      {% endif %}

      {% unless project.hidden %}
        {% assign previous = project %}
      {% endunless %}
    {% endfor %}
    </div>
  </div>
</div>
