---
layout: default
---

<div class="posts">
  <h3 class="content-subhead">
    Project: {{ page.title }}
  </h3>

  <section class="post">
    <header class="post-header">
      <h2 class="post-title pure-u-1">{{ page.title }}</h2>
      <p class="project-meta">
        Info:
      {% if page.site %}
        <a href="{{ page.site }}" title="Website for {{ page.title }}" target="_blank">Project Page</a>
        {% if page.source %}, {% endif %}
      {% endif %}
      {% if page.source %}
        <a href="{{ page.source }}" title="Source code for {{ page.title }}" target="_blank">Source Code</a>
      {% endif %}
      </p>
    </header>

    <article class="post-content">
      {{ content }}
    </article>
  </section>
</div>

{% if site.tags[page.project] %}
  <div class="posts">
    <h3 class="content-subhead">Related Posts</h3>

  {% for post in site.tags[page.project] %}
    <section class="post">
      <header class="post-header">
        <h2 class="post-title">
          <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </h2>

        <p class="post-meta">
          On <span class="post-date">{{ post.date | date_to_string }}</span>
          about {{ post.tags | array_to_sentence_string }}
        </p>
      </header>
    </section>
  {% endfor %}
  </div>
{% endif %}

<div class="page-nav">
  <div class="pure-g-r">
    <div class="pure-u-1-2 prev-post">
      {% if page.previous.url %}
      <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
    </div>

    <div class="pure-u-1-2 next-post">
      {% if page.next.url %}
      <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo; </a>
      {% endif %}
    </div>
  </div>
</div>
