---
layout: default
---

<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }} <span class="green-color">Wiki</span></p>

<div id="content-menu">
  <h2 class="blue-color">Contents</h2>
</div>

<div id="post">
  {{ content }}
</div>

<div id="page-nav" class="clearfix">
  <div class="left">
    {% if page.previous.url %}
    <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
  </div>

  <div class="right">
    {% if page.next.url %}
    <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo; </a>
    {% endif %}
  </div>
</div> 

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
<script src="/js/headings.js"></script>
